*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    box-sizing: border-box;
    display:flex ;
    justify-content: space-around;
    align-items: flex-start;
    width: 900px;
    height: 700pxvh;
    border: 1px solid black;
    padding: 20px;
}
table{
    width: 600px;
    height: 600px;
    float: left;
    border-collapse: collapse;
}
table tr{
    border: 0px;
}
table td{
    width: 14px;
    height: 14px;
    border: 0.5px solid gray;
}
.control-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    margin-left: 50px;  
}

.control-box .mapSize,.go,#changeGameMode{
   width: 230px;
   height: 35px;
   font-size: x-large;
   border: 1px solid black;
}


.control-box nav{
    margin-top: 20px;
}